.view-product{
    margin: 1rem 4rem;
    font-family: sans-serif;
}
.heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.heading-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
.heading-img {
    height: 6vh;
    width: 10vw;
}
.heading button{
    border-radius: 50px;
    border: none;
    background-color: green;
    color: white;
    width: 5rem;
    height: 2rem;
}
.back-to-home button{
    margin-top: 1rem;
    border: none;       
    color: white;
    border-radius: 7px;
    background: #2E0052;
    width: 9rem;
    height: 2rem;
}
.product-description p{
    margin-top: 1rem;
    font-weight: 550;
    line-height: 1.5;
}

#prodetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
}
#prodetails .single-pro-image{
    width: 35vw;
    position: relative;
    height: 100%;
}
#prodetails .single-pro-image #mainImg{
    width:100%;
    height:55vh;
}
.single-pro-image img{
    border: 3px solid #2E0052;
    border-radius: 10px;
}
.small-img-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    position:absolute;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    line-height: 2;
}
.details ul{
    margin-left: 2rem;
    font-size: 15px;
    line-height: 1.5;
}
.buttons{
    display: flex;
    flex-direction: column;
   height: 4.5rem;
   justify-content: space-between;
}
.add-to-cart{
    border-radius: 40px;
    background: #FFD600;
    border: none;
    width:14rem;
    height:2rem;
}
.buy-now {
    border-radius: 40px;
    background: #FFB800;
    width:14rem;
    height:2rem;
    border:none;
}