.header {
    height:10vh;
    max-width: 100vw;
    background-color: #2E0052;
    display: flex;
    padding:0rem 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .header > span {
    color: white;
    font-size: 1rem;
    /* margin-left: 1rem; */
  }
  .header i{
   font-size: 1rem;
  }
  .header .header_login_links{
    margin: none;
    color:white;
    background : none;
    text-decoration: none
  }
  
