.footer{
    max-width: 100vw;
    margin: 1.5rem 5rem;  
}

.search-input-wrapper{
    width:95%;
    border-radius: 35px;
    border:1px solid #C8C8C8;
    height:2.5rem;
    padding:0 15px;
    box-shadow: 0px 0px 8px #ddd;
    display: flex;
    align-items: center;

}
.search-input-wrapper input{
    background-color: transparent;
    border:none;
    height:100%;
    font-size: 1rem;
    width:80%;
    margin-left:5px;
}
input:focus{
    outline:none;
}
#search-icon{
    color:#807c7c;
    font-weight: 500;
}

.filter-section{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-without-sort{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filters-ontype{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.views{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.views img{
    width: 2rem;
    height:2rem
}
label{
    font-size: 15px;
}
select {
    padding: 5px;
    border: none;
    border-radius: 40px;
    margin-right: 10px;
    font-size: 12px;
    background-color: #d9d9d9; 
  }
  
  select option {
    background-color: #fff; 
    font-size: 12px;
  }
  
  select option:hover {
    background-color: #3498db; 
    color: #fff; 
  }


  .all-products{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .item-image svg{
    position: absolute;
    top: 11.5rem;
    left:10.5rem;
  }
  .each-item .item-image{
    background-color: rgba(0, 102, 255, 0.17);
    flex-shrink: 0;
    margin:1rem 0rem;
    padding:1rem;
    position:relative;
  }
.each-item img{
    width: 12rem;
    height: 13rem;
}
.item-data{
    font-family: sans-serif;
    font-size:15px;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}


.all-products-nongridview{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .each-item-nongrid{
    display: flex;
    margin-bottom: 1rem;
  }
  .item-image-nongrid{
    display: flex;
    background-color: rgba(0, 102, 255, 0.17);
    flex-shrink: 0;
    margin:0rem 0rem;
    padding:1rem;
    position:relative;
    align-items: baseline;
  }
  .item-image-nongrid svg{
    position: absolute;
    top: 8.5rem;
    left:9.5rem;
  }
.each-item-nongrid img{
    width: 10.5rem;
    height: 10rem;
}
.item-data-nongrid{
    font-family: sans-serif;
    line-height: 1.5;
    font-size:15px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 550;
    width: 45rem;
}
.item-data-nongrid button{
    width: 5rem;
    height: 2rem;
    color: white;
    text-align: center;
    font-size:15px;
    flex-shrink: 0;
    border-radius: 45px;
    background: #2E0052;
    font-weight: 450;
    border: none;
    margin-top: 0.6rem;
}

