  .banner {
    height: auto;
    max-width: 100vw;
    margin: 1.5rem 5rem;
  }
  .heading-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
  }
  .banner .heading-img {
    height: 6vh;
    width: 10vw;
  }
  .banner_image img{
    width:100%;
    height:25vh;
  }

  