.login-container{
    margin-left: 35vw;
    margin-top: 3vh ;
    display: flex;
    flex-direction: column;
    width: 30vw;
   
}

 

.login-container img{
    height: 7vh;
    width: 15vw;
    align-self: center;
}
.login-form{
  

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
   border: 2px solid #D9D9D9;
   border-radius: 15px;
   padding: 3vh 5vh;
  
   margin: 3vh 0vh;

    @media (max-width : 1220px) {
       
      
        width: 30vw;
         margin:0 30vw;
       }
       @media (max-width : 750px) {
       
      
        width: 50%;
         margin:0 15vw;
         
       }
       @media (max-width : 600px) {
       
      
        width: 70%;
       
         margin: 0 5vw;
        
       }

}

.form-field{
    
    display: flex;
    flex-direction: column;
    padding:2vh;

}
.heading{
    font-size: 30px;
    font-weight: bold;
    padding:0 2vh;
}
.login-form input{
    padding: 1vh 4vw;
    border-radius: 5px;
    border: 2px solid #D9D9D9;
}
#form-btn{
    background-color: #2E0052;
    color: white;
    border: none;
}
.crete-btn{
    padding: 1vh 4vw;
    border: 2px solid #D9D9D9;
    border-radius: 5px;
    text-align: center;

}
.hr-lines{
    display: flex;
    flex-direction: row;
   
   
}
.hr-lines hr{
    width: 150px;
    font-weight: 800;
    height: 0px;
    color: black;
}
/* .bottom-container{
  
    height: 7vh;
    background-color: #2E0052;
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
} */
.already-sign-in{
    text-align: center;
}
.signUp-field{
    display: flex;
    flex-direction: column;
    padding:1vh;
}

